<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="../bootstrap.css" />
	</head>
	<body ng-app="app" ng-controller="appCtrl">
    <div style="width: 60%; margin:20px auto;" class="register">
      <table class="table table-striped">
        <tr>
          <td>用户名: </td>
          <td><input type="text" class="form-control" ng-model="user.name"></td>
        </tr>
        <tr>
          <td>密码: </td>
          <td><input type="text" class="form-control" ng-model="user.pwd"></td>
        </tr>
        <tr>
          <td>重复密码: </td>
          <td><input type="text" class="form-control" ng-model="user.repeat_pwd"></td>
        </tr>
        <tr>
          <td>是否同意协议: </td>
          <td><input type="checkbox" ng-model="user.isAgree"></td>
        </tr>
        <tr>
          <!-- 展示错误信息 -->
          <td colspan="2">{{ user.msg }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <button ng-click="sub()" class="btn btn-success">注册</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="../angular.js"></script>
    <script src="js/main.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>
	</body>
</html>
